# Servidor
PORT=4000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/elevate_campus

# JWT — usar valores distintos por entorno
JWT_SECRET=cambia_este_valor_en_produccion
JWT_TTL_ADMIN=8h
JWT_TTL_TEACHER=24h
JWT_TTL_STUDENT=7d

# CORS
CLIENT_URL=http://localhost:3000
